body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 480px;
}
.half h1{
 font-size: 40px;
 color:firebrick;
}
.half p{
    font-size: 30px;
    color: mediumpurple;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.half img{
    width: 70%;
}
.span{
    color: darkorange;
}
.link{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg,	#ffff00, #ffbf00);
    padding: 5px 10px;
    border-radius: 10%;
    font-weight: 700;
}
.new{
    width: 30%;
    float: left;
    border-radius: 5%;
    margin: 20%;
    margin-top: 5%;
    margin-right: 6px;
    margin-left: 4px;
    padding-right: 2%;
    background-color:linen;   
}
.new img{
    width: 70%;
    position: center ;
    padding: 0px 60px;   
}
.third{
    background-color: rgb(219, 211, 211);   
}
.third h1{
    text-align: center;
    font-size: 30px;
   
}
.new h2{
    color: rgb(38, 38, 228);
    padding: 1px 9px;
    font-size: 25px;
}
.new p{
    padding: 1px 9px;
    font-size: 20px;
}