body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 480px;
}
.half h1{
 font-size: 40px;
 color:firebrick;
}
.half p{
    font-size: 30px;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 4%;
}
.half img{
    width: 70%;
   
}
.link{
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(45deg,	#ffff00, #ffbf00);
    padding: 5px 10px;
    border-radius: 10%;
    font-weight: 700;
}
.halfe{
    width: 30%;
    float: left;
    margin-left: 2%;
    
    background-color: whitesmoke;
    border-radius: 10%;
    padding: 2px 2px 2px 2px;
}
.halfe img{
    width: 70%;
    position: center ;
}
.third{
    background-color: darkgray;
}
.third h1{
    text-align: center;
}